<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">All Heroes</h1>
        <div class="mb-4 w-25">
            <form method="GET" action="/heroes">
                <select name="type" class="form-control" onchange="this.form.submit()">
                    <option value="" {{#if selectedType}}disabled{{/if}}>{{#if selectedType}}{{lookup types ../selectedType}} {{else}}Select Type{{/if}}</option>
                    <option value="all" {{#ifCond selectedType "all"}}selected{{/ifCond}}>Show All</option> <!-- Opsi untuk menampilkan semua -->
                    {{#each types}}
                        <option value="{{this.id}}" {{#ifCond selectedType this.id}}selected{{/ifCond}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </form>
        </div>
        <div class="row">
            {{#if heroes.length}} <!-- Periksa apakah ada heroes -->
                {{#each heroes}}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="{{this.photo}}" class="card-img-top" alt="{{this.name}} Image">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">Type: {{this.type_name}}</p>
                                <a href="/hero/{{this.id}}" class="btn btn-primary">View Details</a>
                                <form method="POST" action="/delete-hero/{{this.id}}" style="display:inline;">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="col-12">
                    <div class="alert alert-warning text-center">No heroes available for this type.</div>
                </div>
            {{/if}}
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>